extends ../layout

block content

        .main
            section.demo
                h2
                    | &#x767E;&#x5EA6;IEF
                    time 2016-08-29

                .demo-content
                    .demo-box
                        img(src='/public/img/demo_ife_1.png')

                        .img-mask
                            | &#x4EFB;&#x52A1;&#xFF1A;&#x4E2A;&#x4EBA;&#x535A;&#x5BA2;&#x9759;&#x6001;&#x9875;&#x9762;&#x5B9E;&#x73B0;
                            p &#x8981;&#x6C42;&#xFF1A;&#x5BF9;&#x7ED9;&#x51FA;&#x7684;&#x535A;&#x5BA2;&#x6A21;&#x677F;&#x56FE;&#x7247;&#x8FDB;&#x884C;&#x7F51;&#x9875;&#x9759;&#x6001;&#x5B9E;&#x73B0;&#xFF0C;&#x5171;4&#x9875;(&#x6280;&#x672F;&#xFF1A;html,css)

                            p
                                | &#x6E90;&#x7801;&#xFF1A;
                                a(href='https://github.com/Zhangzirui/learn-from-baidu-ife/tree/master/spring/task0001/') github&#x5730;&#x5740;

                            p
                                | &#x6548;&#x679C;&#x5C55;&#x793A;&#x9875;&#xFF1A;
                                a(href='http://zhangzirui.github.io/learn-from-baidu-ife/spring/task0001/mywork/index.html/') &#x70B9;&#x51FB;&#x8FDB;&#x5165;

        .elevator
            ul
                li#contactMe(title='联系我')
                    i.iconfont &#xE60F;

                li#goTop(title='返回顶部')
                    i.iconfont &#xE605;