extends ../layout

block content

        .main
            section.demo
                h2
                    | 日常练习的demo
                    time 2016-12-11

                .demo-content
                    .demo-box
                        img(src='/public/img/countdown.png')

                        .img-mask
                            p  倒计时动画
                            p  应用技术：原生js，canvas API 画图
                            p
                                | &#x6E90;&#x7801;&#xFF1A;
                                a(href='https://github.com/Zhangzirui/web-demo/tree/master/canvas/countdown/') github&#x5730;&#x5740;

                            p
                                | &#x6548;&#x679C;&#x5C55;&#x793A;&#x9875;&#xFF1A;
                                a(href='https://zhangzirui.github.io/web-demo/canvas/countdown/canvas-countdown.html') &#x70B9;&#x51FB;&#x8FDB;&#x5165;
                    .demo-box
                        img(src='/public/img/responsive.png')

                        .img-mask
                            p   响应式页面
                            p   应用技术： 响应式技术，rem布局
                            p
                                | &#x6E90;&#x7801;&#xFF1A;
                                a(href='https://github.com/Zhangzirui/web-demo/tree/master/html/responsive/') github&#x5730;&#x5740;

                            p
                                | &#x6548;&#x679C;&#x5C55;&#x793A;&#x9875;&#xFF1A;
                                a(href='https://zhangzirui.github.io/web-demo/html/responsive/index.html') &#x70B9;&#x51FB;&#x8FDB;&#x5165;
                    .demo-box
                        img(src='/public/img/zzr_reader.png')

                        .img-mask
                            p   web阅读器（移动端）
                            p   只开发了单页，应用技术： jQuery，localSorage，ajax，jsonp跨域
                            p
                                | &#x6E90;&#x7801;&#xFF1A;
                                a(href='https://github.com/Zhangzirui/web-app-reading/') github&#x5730;&#x5740;

                            p
                                | &#x6548;&#x679C;&#x5C55;&#x793A;&#x9875;&#xFF1A;
                                a(href='https://zhangzirui.github.io/web-app-reading/zzr_reader.html') &#x70B9;&#x51FB;&#x8FDB;&#x5165

            section.demo
                h2
                    | &#x767E;&#x5EA6;IEF
                    time 2016-02-23

                .demo-content
                    .demo-box
                        img(src='/public/img/demo_ife_1.png')

                        .img-mask
                            p  &#x4E2A;&#x4EBA;&#x535A;&#x5BA2;&#x9759;&#x6001;&#x9875;&#x9762;&#x5B9E;&#x73B0;
                            p &#x8981;&#x6C42;&#xFF1A;&#x5BF9;&#x7ED9;&#x51FA;&#x7684;&#x535A;&#x5BA2;&#x6A21;&#x677F;&#x56FE;&#x7247;&#x8FDB;&#x884C;&#x7F51;&#x9875;&#x9759;&#x6001;&#x5B9E;&#x73B0;&#xFF0C;&#x5171;4&#x9875;(&#x6280;&#x672F;&#xFF1A;html,css)

                            p
                                | &#x6E90;&#x7801;&#xFF1A;
                                a(href='https://github.com/Zhangzirui/learn-from-baidu-ife/tree/master/spring/task0001/') github&#x5730;&#x5740;

                            p
                                | &#x6548;&#x679C;&#x5C55;&#x793A;&#x9875;&#xFF1A;
                                a(href='http://zhangzirui.github.io/learn-from-baidu-ife/spring/task0001/mywork/index.html') &#x70B9;&#x51FB;&#x8FDB;&#x5165;
                    .demo-box
                        img(src='/public/img/task0002.png')

                        .img-mask
                            p   task0002展示页
                            p   要求：
                                a(href='https://github.com/baidu-ife/ife/tree/master/2015_spring/task/task0002#小练习1') ife task0002 任务

                            p
                                | &#x6E90;&#x7801;&#xFF1A;
                                a(href='https://github.com/Zhangzirui/learn-from-baidu-ife/tree/master/spring/task0002/') github&#x5730;&#x5740;

                            p
                                | &#x6548;&#x679C;&#x5C55;&#x793A;&#x9875;&#xFF1A;
                                a(href='http://zhangzirui.github.io/learn-from-baidu-ife/spring/task0002/task0002_display.html') &#x70B9;&#x51FB;&#x8FDB;&#x5165;
                    .demo-box
                        img(src='/public/img/task0003.png')

                        .img-mask
                            p   记事本(单页应用)
                            p   应用技术：原生js编程，requirejs模块化，indexedDB存储
                            p
                                | &#x6E90;&#x7801;&#xFF1A;
                                a(href='https://github.com/Zhangzirui/learn-from-baidu-ife/tree/master/spring/task0003/') github&#x5730;&#x5740;
                            p
                                | &#x6548;&#x679C;&#x5C55;&#x793A;&#x9875;&#xFF1A;
                                a(href='http://zhangzirui.github.io/learn-from-baidu-ife/spring/task0003/app.html') &#x70B9;&#x51FB;&#x8FDB;&#x5165;
                    .elevator
            ul
                li#contactMe(title='联系我')
                    i.iconfont &#xE60F;

                li#goTop(title='返回顶部')
                    i.iconfont &#xE605;